<p>
  Dear <%= @user.name %>,
</p>
<p>
<%= @inviter.name %> has invited you to join them on the Wildflower School Startup Journey.
</p>
<p>
As a next step, we invite you to join <b><%= ENV['APP_NAME'] %></b>, where you will have shared access to the complete School Startup Journey guide and resources.
<br/>
Please <%= link_to "click here", @invite_url %> to log in and begin your journey.
</p>
<p>
In parallel, your Operations Guide, <%= @ops_guide.name %>, will be in touch to schedule an orientation call for you and your partner.
</p>
<p>
Welcome to the School Startup Journey!
<br/>
Maggie (she.her)
<br/>
School Supports
</p>
